* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image: url('https://i.ibb.co/Z80hVyz/pexels-skitterphoto-379526.jpg');
  background-size: cover;
}

.Cards {
  display: flex;
  flex-direction: row;

  justify-content: center;
  margin: 10px;
}

.itemlistcont {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 10px;
}
.navbutton {
  margin: 2px;
}

.contact {
  background-color: coral;
  margin: 10px;
  text-align: center;
  padding: 20px;
  border-radius: 5px;
}
.icwass {
  width: 40px;
}
.link {
  text-decoration: none;
  color: black;
}
.itemCount {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.carrito {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}
.irCheckout {
  background-color: aliceblue;
  text-align: center;
  margin: 2%;
  padding: 10px;
  width: auto;
  border-radius: 5px;
}
.cartContainer {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-around;
}
